<h4>Formularios <small>data</small></h4>
<hr>
<!-- Se coloca [formGroup]="forma" para ligarlo con el forma del component -->
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" novalidate="novalidate">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre">
               <!-- Con esto se liga el valor con el component -->
               <!--  -->
               <div *ngIf="forma.controls['nombre'].errors?.required" 
               class="form-control-feedback">
                  El nombre es Necesario
               </div>
               <div *ngIf="forma.controls['nombre'].errors?.minlength" 
               class="form-control-feedback">
                  Requiere al menos {{ forma.controls['nombre'].errors.minlength.requiredLength }} caracteres
               </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido">
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo">
    </div>
  </div>



  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

  {{forma.valid}}

</form>
